In [3]:
import pandas as pd 
import numpy as np
from sklearn.metrics import confusion_matrix

In the context of this problem, what is a false positive?

In the context of this problem, what is a false negative?

How would you describe this model?

|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |

In [4]:
tp = 46
fn = 7
tn = 34
fp = 13

accuratly predicts cats or dogs 80% of the time

## Accuracy

Accuracy evaluates how many correct predictions (both positive and negative) were made over the total number of predictions.

In [5]:
(tp + tn) / (tp + tn + fp + fn)

0.8

You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.
Use the predictions dataset and pandas to help answer the following questions:

An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [9]:
c3_df = pd.read_csv('c3.csv')
c3_df

        actual     model1     model2     model3
0    No Defect  No Defect     Defect  No Defect
1    No Defect  No Defect     Defect     Defect
2    No Defect  No Defect     Defect  No Defect
3    No Defect     Defect     Defect     Defect
4    No Defect  No Defect     Defect  No Defect
..         ...        ...        ...        ...
195  No Defect  No Defect     Defect     Defect
196     Defect     Defect  No Defect  No Defect
197  No Defect  No Defect  No Defect  No Defect
198  No Defect  No Defect     Defect     Defect
199  No Defect  No Defect  No Defect     Defect

[200 rows x 4 columns]

In [10]:
c3_df.shape

(200, 4)

In [21]:
c3_df.info

<bound method DataFrame.info of         actual     model1     model2     model3
0    No Defect  No Defect     Defect  No Defect
1    No Defect  No Defect     Defect     Defect
2    No Defect  No Defect     Defect  No Defect
3    No Defect     Defect     Defect     Defect
4    No Defect  No Defect     Defect  No Defect
..         ...        ...        ...        ...
195  No Defect  No Defect     Defect     Defect
196     Defect     Defect  No Defect  No Defect
197  No Defect  No Defect  No Defect  No Defect
198  No Defect  No Defect     Defect     Defect
199  No Defect  No Defect  No Defect     Defect

[200 rows x 4 columns]>

In [23]:
c3_df.columns

Index(['actual', 'model1', 'model2', 'model3'], dtype='object')

## Establish Baseline

In [11]:
c3_df.actual.mode()

0    No Defect
Name: actual, dtype: object

In [12]:
#baseline
c3_df.actual.value_counts()

actual
No Defect    184
Defect        16
Name: count, dtype: int64

## An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [13]:
16 / 200

0.08

In [16]:
(c3_df.actual == 'Defect').mean()

0.08

## Establish a positive

In [17]:
c3_df.actual.value_counts()

actual
No Defect    184
Defect        16
Name: count, dtype: int64

No defects = negative 

Defects = positive

## Build Confusion Matrix

In [27]:
counts1 = pd.crosstab(c3_df.actual, c3_df.model1)
counts1

model1     Defect  No Defect
actual
Defect          8          8
No Defect       2        182

In [34]:
tp1 = counts1.iloc[0,0]
fn1 = counts1.iloc[0,1]
fp1 = counts1.iloc[1,0]
tn1 = counts1.iloc[1,1]

In [36]:
tp1, fn1, fp1, tn1

(8, 8, 2, 182)

In [83]:
# recall
tp1 / (tp1 + fn1)

0.5

In [28]:
counts2 = pd.crosstab(c3_df.actual,  c3_df.model2)
counts2

model2     Defect  No Defect
actual
Defect          9          7
No Defect      81        103

In [38]:
tp2 = counts2.iloc[0,0]
fn2 = counts2.iloc[0,1]
fp2 = counts2.iloc[1,0]
tn2 = counts2.iloc[1,1]

In [39]:
tp2, fn2, fp2, tn2

(9, 7, 81, 103)

In [81]:
tp2 / (tp2 + fn2)

0.5625

In [29]:
counts3 = pd.crosstab(c3_df.actual, c3_df.model3)
counts3

model3     Defect  No Defect
actual
Defect         13          3
No Defect      86         98

In [41]:
tp3 = counts3.iloc[0,0]
fn3 = counts3.iloc[0,1]
fp3 = counts3.iloc[1,0]
tn3 = counts3.iloc[1,1]

In [43]:
tp3, fn3, fp3, tn3

(13, 3, 86, 98)

In [82]:
tp3 / (tp3 + fn3)

0.8125

## ^Recall would be the appropriate evaluation metric. 

## ^Model 3 is the best fit for this use case.

## Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. 

They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. 

Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [84]:
# Precision
tp1 / (tp1 + fp1)

0.8

In [86]:
tp2 / (tp2 + fp2)

0.1

In [85]:
tp3 / (tp3 + fp3)

0.13131313131313133

## ^Precision would be the approprate evolution metric.

## ^Model 1 is the best fit for this use case.

## Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?

Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recommend?

Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recommend?

In [52]:
paws_df = pd.read_csv('gives_you_paws.csv')
paws_df

     actual model1 model2 model3 model4
0       cat    cat    dog    cat    dog
1       dog    dog    cat    cat    dog
2       dog    cat    cat    cat    dog
3       dog    dog    dog    cat    dog
4       cat    cat    cat    dog    dog
...     ...    ...    ...    ...    ...
4995    dog    dog    dog    dog    dog
4996    dog    dog    cat    cat    dog
4997    dog    cat    cat    dog    dog
4998    cat    cat    cat    cat    dog
4999    dog    dog    dog    dog    dog

[5000 rows x 5 columns]

In [53]:
paws_df.shape

(5000, 5)

In [54]:
paws_df.info

<bound method DataFrame.info of      actual model1 model2 model3 model4
0       cat    cat    dog    cat    dog
1       dog    dog    cat    cat    dog
2       dog    cat    cat    cat    dog
3       dog    dog    dog    cat    dog
4       cat    cat    cat    dog    dog
...     ...    ...    ...    ...    ...
4995    dog    dog    dog    dog    dog
4996    dog    dog    cat    cat    dog
4997    dog    cat    cat    dog    dog
4998    cat    cat    cat    cat    dog
4999    dog    dog    dog    dog    dog

[5000 rows x 5 columns]>

In [91]:
paws_df.columns

Index(['actual', 'model1', 'model2', 'model3', 'model4',
       'baseline_prediction'],
      dtype='object')

In [92]:
paws_df.actual.mode()

0    dog
Name: actual, dtype: object

In [93]:
#turning my counts into percent
# paws_df.actual.value_counts()
paws_df.actual.value_counts(normalize=True)[0]

0.6508

In [95]:
(paws_df.actual == 'dog').mean()

0.6508

## In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?

In [78]:
# getting the values to solve for the baseline
paws_df.actual.value_counts()

actual
dog    3254
cat    1746
Name: count, dtype: int64

dog = positive
cat = negative

In [79]:
# Baseline
3254/5000

0.6508

## models

In [59]:
count1 = pd.crosstab(paws_df.actual, paws_df.model1)
count1

model1   cat   dog
actual
cat     1423   323
dog      640  2614

In [107]:
tp_1 = count1.iloc[1,1]
fn_1 = count1.iloc[0,1]
fp_1 = count1.iloc[1,0]
tn_1 = count1.iloc[0,0]

In [108]:
tp_1, fn_1, fp_1, tn_1

(2614, 323, 640, 1423)

In [119]:
# Accuracy model

(tp_1 + tn_1 ) / (tp_1 + fp_1 + tn_1 + fn_1)

0.8074

In [97]:
(paws_df.actual == paws_df.model1).mean()

0.8074

In [60]:
count2 = pd.crosstab(paws_df.actual, paws_df.model2)
count2

model2   cat   dog
actual
cat     1555   191
dog     1657  1597

In [111]:
(paws_df.actual == paws_df.model2).mean()

0.6304

In [115]:
tp_2 = count2.iloc[1,1]
fn_2 = count2.iloc[1,0]
fp_2 = count2.iloc[0,1]
tn_2 = count2.iloc[0,0]

In [116]:
tp_2, fn_2, fp_2, tn_2

(1597, 1657, 191, 1555)

In [120]:
# Accuracy model

(tp_2 + tn_2 ) / (tp_2 + fp_2 + tn_2 + fn_2)

0.6304

In [61]:
count3 = pd.crosstab(paws_df.actual, paws_df.model3)
count3

model3   cat   dog
actual
cat      893   853
dog     1599  1655

In [121]:
tp_3 = count3.iloc[1,1]
fn_3 = count3.iloc[1,0]
fp_3 = count3.iloc[0,1]
tn_3 = count3.iloc[0,0]

In [122]:
tp_3, fn_3, fp_3, tn_3

(1655, 1599, 853, 893)

In [123]:
# Accuracy model

(tp_3 + tn_3 ) / (tp_3 + fp_3 + tn_3 + fn_3)

0.5096

In [124]:
(paws_df.actual == paws_df.model3).mean()

0.5096

In [62]:
count4 = pd.crosstab(paws_df.actual, paws_df.model4)
count4

model4  cat   dog
actual
cat     603  1143
dog     144  3110

In [125]:
tp_4 = count4.iloc[1,1]
fn_4 = count4.iloc[1,0]
fp_4 = count4.iloc[0,1]
tn_4 = count4.iloc[0,0]

In [126]:
tp_4, fn_4, fp_4, tn_4

(3110, 144, 1143, 603)

In [128]:
# Accuracy model

(tp_4 + tn_4 ) / (tp_4 + fp_4 + tn_4 + fn_4)

0.7426

In [129]:
(paws_df.actual == paws_df.model4).mean()

0.7426

## ^^Models 1 and 4 are better than the baseline.

Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recommend?

positive = 'dog'

recall = minimize our false negatives

precision = minimize our false positives

false negatives = predicting a cat, when its actually a dog

false positives = predicting a dog, when its actually a cat

       I will choose precision to minimize false positives, cause i dont want cat pictures

In [130]:
pos_prediction = paws_df[paws_df.model1 == 'dog']
pos_prediction.head()

  actual model1 model2 model3 model4 baseline_prediction
1    dog    dog    cat    cat    dog                 dog
3    dog    dog    dog    cat    dog                 dog
5    dog    dog    dog    dog    dog                 dog
7    cat    dog    cat    cat    dog                 dog
8    dog    dog    cat    dog    dog                 dog

In [131]:
(pos_prediction.actual == pos_prediction.model1).mean()

0.8900238338440586

In [133]:
for col in paws_df.columns[1:]:
    # print(col)
    pos_prediction = paws_df[paws_df[col] == 'dog']
    prec = (pos_prediction.actual == pos_prediction[col]).mean()
    
    print(f'for {col} the precision is {round(prec,2)}')

for model1 the precision is 0.89
for model2 the precision is 0.89
for model3 the precision is 0.66
for model4 the precision is 0.73
for baseline_prediction the precision is 0.65

## ^Model 1 or 2 for predicting dog pictures

Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recommend?

positive = 'cat'

recall = minimize our false negatives

precision = minimize our false positives

false negatives = predicting a dog, when its actually a cat

false positives = predicting a cat, when its actually a dog

    I will choose precision to minimize false positives, cause i dont want dog pictures

In [135]:
for col in paws_df.columns[1:]:
    # print(col)
    pos_prediction = paws_df[paws_df[col] == 'cat']
    prec = (pos_prediction.actual == pos_prediction[col]).mean()
    
    print(f'for {col} the precision is {round(prec,2)}')

for model1 the precision is 0.69
for model2 the precision is 0.48
for model3 the precision is 0.36
for model4 the precision is 0.81
for baseline_prediction the precision is nan

## ^Model 1 would be best fpor predicting cat pictures

## Follow the links below to read the documentation about each function, then apply those functions to the data from the previous problem.

sklearn.metrics.accuracy_score

sklearn.metrics.precision_score

sklearn.metrics.recall_score

sklearn.metrics.classification_report

In [137]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, classification_report

In [138]:
paws_df.head()

  actual model1 model2 model3 model4 baseline_prediction
0    cat    cat    dog    cat    dog                 dog
1    dog    dog    cat    cat    dog                 dog
2    dog    cat    cat    cat    dog                 dog
3    dog    dog    dog    cat    dog                 dog
4    cat    cat    cat    dog    dog                 dog

In [139]:
accuracy_score(paws_df.actual, paws_df.model1)

0.8074

In [141]:
precision_score(paws_df.actual, paws_df.model1, pos_label='cat')

0.6897721764420747

In [142]:
precision_score(paws_df.actual, paws_df.model1, pos_label='dog')

0.8900238338440586

In [144]:
recall_score(paws_df.actual, paws_df.model1, pos_label='cat')

0.8150057273768614

In [145]:
recall_score(paws_df.actual, paws_df.model1, pos_label='dog')

0.803318992009834

In [147]:
classification_report(paws_df.actual, paws_df.model1)

'              precision    recall  f1-score   support\n\n         cat       0.69      0.82      0.75      1746\n         dog       0.89      0.80      0.84      3254\n\n    accuracy                           0.81      5000\n   macro avg       0.79      0.81      0.80      5000\nweighted avg       0.82      0.81      0.81      5000\n'

In [148]:
print(classification_report(paws_df.actual, paws_df.model1))

              precision    recall  f1-score   support

         cat       0.69      0.82      0.75      1746
         dog       0.89      0.80      0.84      3254

    accuracy                           0.81      5000
   macro avg       0.79      0.81      0.80      5000
weighted avg       0.82      0.81      0.81      5000